<% provide(:title, "About") %>
<h1>About</h1>
<p>
 Inn is a platform that conglomerates and helps you track important stories and information from smaller independent and publicly-funded (and therefore reasonably less biased) news outlets, 
 because bigger mainstream news outlets (such as Fox News) can hog the spotlight making smaller sources hard to reach out and find unless one intentionally seeks them out. Even then it can be a pain, 
 so lighten your work a bit by checking out our Inn. 
</p>