<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  There are no direct contacts yet as we are still under very early development;
  however check out the <a  target='_blank' href= 'https://github.com/lindavin/sample-app'>GitHub</a> page.
</p>
