 
<! -- Done following the tutorial https://www.youtube.com/watch?v=lacpTQuE9u8 ->
<div id='loginbox'>
 <!-- <img src="avatar.png" class="avatar"> -->
        <h1>Login Here</h1>
        <form>
          <p>Username</p>
          <input type='email' class='input-box' placeholder='Your Email'>
          <p>Password</p>
          <input type='password' class='input-box' placeholder='Your Password'>
          <a href="#">Lost your password?</a><br>
          <%=link_to  "Don't have an account", signup_path %>
      
          <button type='button submit' class='signupbtn account-button'> Login </button>
          <hr>
          <p class='or'>OR</p>
          <button type='button' class='signupbtn google-button'> Login with google</button>
        
        </form>
        
        
</div>
