
<! -- Done following the tutorial https://www.youtube.com/watch?v=lacpTQuE9u8 ->
<div id='sign-up-form'>
  <div>
    <h1> Sign Up Now </h1>
    <form>
      <input type='email' class='input-box' placeholder='Your Email'>
      <input type='password' class='input-box' placeholder='Your Password'>
      <p> 
      <span><input type='checkbox'></span>
      I agree to the terms of services 
      </p>
      <button type='button' class='signupbtn account-button'> Sign up</button>
      <hr>
      <p id='or'>OR</p>
      <button type='button' class='signupbtn google-button'> Login with google</button>
      <p>Do you have an account? <a href='#'>Sign in</a></p>
      
      
    </form>
  </div>
</div>